<div class="orbit" role="region" aria-label="RealCraft Motor Boats" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
     <div class = "rc-fog hard-fog white-bg"><!-- Белая пелена над фотографией--></div> 
      <div id = "slogan">
            <div class = "row">
                <div class = "small-12 medium-6 large-5 columns">
                    <div class = " tb-pad-s"><%= rc_header(@boat[:name], t(:model), "#{t :design_category} #{@boat[:design_category]}")  %></div>
                    <p class = "show-for-large">
                <%= @boat["header_description_#{cur_locale}".to_sym] %>
                    </p>
                </div>
                <div class = "medium-5 large-5 medium-offset-1 large-offset-2 columns hide-for-small-only">
                    <p id = "rc-boat-slogan" class = "text-center tb-pad-m hide-for-small">
                        <%= @boat["slogan_#{cur_locale}".to_sym] %>
                    </p>
                </div>
                <div class = "medium-1 columns hide-for-small-only">
                </div>
            </div>
      </div>
    <ul class="orbit-container">
        <%= slider_imgs(@boat[:slider_images]).html_safe  %>
    </ul>
</div> 

<div class = "c-box hide-for-large dark-blue-bg">
    <div class = "row tb-pad-s">
        <div class = "small-12 columns">
            <p>
                <%= @boat["header_description_#{cur_locale}".to_sym] %>
                
            </p>
        </div>
    </div>
</div>


<div id="rc-parameters" class = "white-text ">
    <div class = "tb-pad-m">
        <div class = "row">
            <div class = "small-12 columns">
                <h3 class = "text-center">
                    <%= t(:technical_information) %>
                </h3>
            </div>
        </div>
        <div class = "row row tb-pad-s">
            <div class = "small-4 columns">
                <p class = "rc-param-name-b text-center">
                    <%= t(:crew_limit) %>
                </p>
                <div class="stat text-center rc-param-val-b">
                    <%= @boat[:crew_limit] %>
                </div>
            </div>
            <div class = "small-4 columns">
                <p class = "rc-param-name-b text-center">
                    <%= t(:length_of_hull) %>
                </p>
                <div class="stat text-center rc-param-val-b">
                    <%= @boat[:length_of_hull] %>
                </div>
            </div>
            <div class = "small-4 columns">
                <p class = "rc-param-name-b text-center">
                    <%= t(:beam_of_hull) %>
                </p>
                <div class="stat text-center rc-param-val-b">
                    <%= @boat[:beam_of_hull] %>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "small-6 medium-4 large-2 columns tb-pad-s">
                <p class = "rc-param-name-s text-center">
                    <%= t(:max_permitted_load) %>
                </p>
                <div class="stat text-center rc-param-val-s">
                    <%= @boat[:max_permitted_load] %>
                </div>
            </div>
            <div class = "small-6 medium-4 large-2 columns tb-pad-s">
                <p class = "rc-param-name-s text-center">
                    <%= t(:hull_thickness) %>
                </p>
                <div class="stat text-center rc-param-val-s">
                    <%= @boat[:hull_thickness] %>
                </div>
            </div>
            <div class = "small-6 medium-4 large-2 columns tb-pad-s">
                <p class = "rc-param-name-s text-center">
                    <%= t(:freeboard_thickness) %>
                </p>
                <div class="stat text-center rc-param-val-s">
                    <%= @boat[:freeboard_thickness] %>
                </div>
            </div>
            <div class = "small-6 medium-4 large-2 columns tb-pad-s">
                <p class = "rc-param-name-s text-center">
                    <%= t(:max_power) %>
                </p>
                <div class="stat text-center rc-param-val-s">
                    <%= @boat[:max_motor_pwr] %>
                </div>
            </div>
            <div class = "small-6 medium-4 large-2 columns tb-pad-s">
                <p class = "rc-param-name-s text-center">
                    <%= t(:bot_deadrise_angle) %>
                </p>
                <div class="stat text-center rc-param-val-s">
                    <%= @boat[:bot_deadrise_angle] %>
                </div>
            </div>
            <div class = "small-6 medium-4 large-2 columns tb-pad-s">
                <p class = "rc-param-name-s text-center">
                    <%= t(:empty_craft_mass) %>
                </p>
                <div class="stat text-center rc-param-val-s">
                    <%= @boat[:empty_craft_mass] %>
                </div>
            </div>
        </div>
    </div>

</div>
<ul class="tabs" data-deep-link="true" data-tabs id="rc-data-tabs" >
  <div class = "row">
          <li class="tabs-title small-6 medium-3 columns text-center is-active "><a class = 'no-style' href="#panel1" aria-selected="true"><%= t(:modifications).mb_chars.upcase%></a></li>
          <li class="tabs-title small-6 medium-3 columns text-center"><a class = 'no-style' href="#panel2"><%= t(:engeneering).mb_chars.upcase %></a></li>
          <li class="tabs-title small-6 medium-3 columns text-center"><a class = 'no-style' href="#panel3"><%= t(:photos).mb_chars.upcase %></a></li>
          <li class="tabs-title small-6 medium-3 columns text-center"><a class = 'no-style' href="#panel4"><%= t(:videos).mb_chars.upcase %></a></li>
  </div>
</ul>
<div class="tabs-content" data-tabs-content="rc-data-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <div class="row tb-pad-s">
        <div class = "small-12 columns">
                <%= rc_header(t(:modifications), @boat[:name])  %>
        </div>
    </div>
    <div class="row tb-pad-s">
        <div class = "small-12 columns">
            Realcraft 190 boats can be delivered
            in several versions of equipment packages of bow cockpit and main cockpit seats
        </div>
    </div>
    <div class="row tb-pad-s">
            <%@boat[:modifications][0][:model_view_imgs].each do |i|%>
                <div class = "small-12 medium-6 column tb-pad-s">
                    <%= image_tag i %>
                </div>
            <%end%>
    </div>
  </div>
  <div class="tabs-panel" id="panel2">
    <div class = "tb-pad-s">
        <div class = "row">
            <div class = "small-12 columns">
                <%= rc_header(t(:engeneering), @boat[:name])  %>
            </div>
        </div>
        <div class = "row">
            <div class = "small-4 columns tb-pad-s">
                <p>
                    Strong hull with a 4-mm bottom of 5083 Al-Mg sheet together with a perfect seagoing performance that
                    is justified by carefully estimated body lines with 11° dead rise angle at the transom provide smooth sailing from first open waters to the late fall. Do not fear storms, stony shores, drowned logs and even floating ice floes. Moreover, the boat is quite cost effective: Realcraft 190 can raise the maximum speed of over 50 kmph due to a 40 powered motor. If the boat carries five people, it shall plane on the water surface of more than 40 kmph. In case you mount
                    an engine of power capability of 50 horsepower these indicators will be much better.
                </p>
            
            </div>
            <div class = "small-12 medium-5 medium-offset-1 columns tb-pad-s">
                <p>

                </p>
            
            </div>
        </div>
    </div>
  </div>
  <div class="tabs-panel" id="panel3">
    <div class = "tb-pad-s">
        <div class = "row">
            <div class = "small-12 columns">
                <%= rc_header(t(:photos), @boat[:name])  %>
            </div>
        </div>
    </div>
  </div>
  <div class="tabs-panel" id="panel4">
    <div class = "tb-pad-s">
        <div class = "row">
            <div class = "small-12 columns">
                <%= rc_header(t(:videos), @boat[:name])  %>
            </div>
        </div>
    </div>
  </div>
</div>

