
<div class = "tb-pad-s">
    <div class = "row">
        <div class = "small-12 medium-6 medium-centered columns">
            <h4>
                <%= t(:boat_request) %>
            </h4>
        </div>
    </div>
    <div style = "display: none;" id = 'success-request' class = "row">
        <div class = "small-12 medium-6 medium-centered columns">
            <div class = 'callout success'>
            <p>
                <i class = 'fi-check'></i> <%= t(:successfull_boat_request) %>
            </p>
           </div>
        </div>
    </div>
    <%= form_for(:boat_request, url: send_boat_request_path, html: {"data-abide"=> "", novalidate: "", remote: true}) do |f| %>
        <div class = "row">
            <div class = "small-12 medium-6 medium-centered columns">
                <div class = "row">
                    <div class = "small-12 medium-6 columns">
                        <%= f.label :email, "E-mail" %>
                        <%= f.email_field :email, placeholder: "name@domain.com", required: true  %>
                        <span class="form-error">
                            <%= t(:fail_mail_msg)%>
                        </span>
                    </div>
                    <div class = "small-12 medium-6 columns">
                        <%= f.label :name, t(:mail_name) %>
                        <%= f.text_field :name, placeholder: t(:name_example), required: true  %>
                        <span class="form-error">
                            <%= t(:mail_name_error)%>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "small-12 medium-6 medium-centered columns">
                <%brf = boats_for_request_form%>
                <%= f.label :boat_name, t(:mail_boat) %>
                <%= f.select :boat_name, brf[:vals], {} %>
                <%mCounter = 0%>
                <% brf[:mdfs].each do |m|%>
                    <div class = "row small-up-1 large-up-2 boat-block" data-boat-block-idx = <%= mCounter %> style = 'display: none;'>
                        <% m[:mdf][:model_view_imgs].each do |img| %>
                        <div class = "column tb-pad-xs">
                            <div style = "position: relative;">
                                <div style = "position: absolute; top: 10px; right: 10px; z-index:200;">
                                    <h7><%= img[:title] %></h7>
                                </div>
                            </div>
                            <a>
                                <%= image_tag img[:url], class: "kra-ph-box", "rc-box-phs".to_sym => "[#{img[:url]}, small]", "rc-box-collection".to_sym => "boat-views-in-form-#{mCounter}", "rc-box-title".to_sym => "#{m[:name]}: #{img[:title]}"  %>
                            </a>
                        </div>
                        <%end%>
                    </div>
                    <%mCounter +=1%>
                <%end%>
            </div>
        </div>
        <div class = "row">
            <div class = "small-12 medium-6 medium-centered columns">
                <%= f.label :comment, t(:mail_comment) %>
                <%= f.text_area :comment %>
            </div>
        </div>
        <div class = 'row'>
            <div class = "small-12 medium-6 medium-centered columns">
                <%= f.submit t(:send_request_mail), class: "button success" %>
            </div>
        </div>
    <% end %>
</div>
