<div class = "light-gray-block">
    <div id = "footer" class = "row tb-pad-m">
        <div id = "footer-logo" class = "small-12 medium-5 columns">
            <div class = "row">
                <div class = "small-12 small-push-12 medium-push-0 columns">
                   <%= image_tag "logo_colorful.png" %>
                </div>
            </div>
            <div class = "row tb-pad-m">
                <div class = "small-12 small-pull-12 medium-pull-0 columns">
                    REALCRAFT™, 2014-<%= Time.now.year.to_s %> 
                </div>
            </div>
        </div>
        <div id = "footer-contacts"  class = "small-12 medium-offset-1 medium-6 columns">
            <h4>
                <%= t(:contacts) %>
            </h4>
            <p>
                Samara Motor-Boat Plant «Salut» (Salut-boats Ltd),<br />
                Sovetskaya str., 38L, Novosemeykino urban-type settlement, Krasnoyarskiy district,<br />
                Samara region, Russia, 446379, <br />
                Tel.:  +7-846-9726801, +7-846-277210<br />
                <%= link_to t(:self_url_name), root_path %><br />
                <%= mail_to "info@realcraftboats.com", "info@realcraftboats.com" %>
            </p>
        </div>
    </div>

</div>