          <div class="orbit" role="region" aria-label="RealCraft Motor Boats" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
              <div id = "slogan">
                  <div class = 'row tb-pad-s' style = " position: relative;margin-left: auto; margin-right: auto;">
                     <div class = "small-12 columns">
                         <img id = "slogan-img" src = "/files/main_slogan.png">
                     </div>
                  </div>
              </div>
            <ul class="orbit-container">
              <%= slider_imgs(main_page_slider_imgs).html_safe  %>
            </ul>
          </div>    

<div class = "row">
    <div class = "small-12 columns tb-pad-m">
        <%= rc_header(t(:production), t(:about)) %>
    </div>
</div>

<div class = "row">
    <div class = "small-12 medium-5 columns tb-pad-s">
        <img src = "/files/factory_2.png">
    </div>
    <div class = "small-12 medium-6 columns tb-pad-s end">
       <p >
           We produce our boats in the modern 
            factory buildings, specially built by us for 
            these purposes. They are located in the 
            nearest suburb of Samara city - one of the 
            biggest cities on the great river Volga. 
        </p>
        <p>
            At all stages of production using modern 
            technologies and materials - from the design 
            study and construction of 3D-CAD-model to 
            the finish color in the professional coloring 
            and drying chamber. Sawing is made on CNC 
            machines, the assembly of the boat ona rigid 
            jig specifying the exact geometry of the body.
        </p>
    </div>    
</div>
<div class = "blue-block">
    <div class = "row">
        <div class = "small-12 medium-6 columns tb-pad-s">
            <p class = "stat text-center">
                 15,000 <%= t :m_short %><span class = "degree">2</span>
             </p>
             <p class = "rc-param-name-b text-center">
                 The area of own land for production
             </p>
        </div>
        <div class = "small-12 medium-6 columns end tb-pad-s">
            <p class = "stat text-center">
                 3,800 <%= t :m_short %><span class = "degree">2</span>
             </p>
             <p class = "rc-param-name-b text-center">
                 The area of own production and warehouse space
             </p>
        </div>    
    </div>
</div>
<div class = "row">
    <div class = "small-12 columns tb-pad-m">
        <%= rc_header(t(:today), "realcraft") %>
    </div>
</div>
<div class = "row">
    <div class = "small-12 medium-6 columns end">
        <div class = "row">
            <div class = "small-12 medium-4 columns">
                 <p>Modern equipment of an industrial class</p>
            </div>
            <div class = "small-12 medium-8 columns">
                 <img src = "/files/factory_2.png">
            </div>
        </div>
        <div class = "row tb-pad-s">
            <div class = "small-12 medium-12 columns">
                <h3>Many years of large-scale production experience</h3>
            </div>
        </div>
        <div class = "row tb-pad-s">
            <div class = "small-12 medium-7 columns">
                <img src = "/files/factory_2.png">
            </div>
            <div class = "small-12 medium-5 columns">
                 <p>A large staff of top notch professionals</p>
            </div>
        </div>
    </div>
    <div class = "small-12 medium-6 columns end">
        <div class = "row">
            <div class = "small-12 medium-5 columns">
                 <p>Advanced methods of engineering and quality control</p>
            </div>
            <div class = "small-12 medium-7 columns end">
                 <img src = "/files/factory_2.png">
            </div>
        </div>
        <div class = "row tb-pad-s">
            <div class = "small-12  medium-6 columns">
                <img src = "/files/factory_2.png">
            </div>
            <div class = "small-12 medium-6 columns">
                 <p>Spacious, well- lit workshops especially equipped for crafting boats</p>
                 <h3>Every detail is important</h3>
            </div>


        </div>
        <div class = "row tb-pad-s">
            <div class = "small-12 medium-6 columns">
                <img src = "/files/factory_2.png">
            </div>
            <div class = "small-12 medium-6 columns">
                 <p>Many hours of workshop testing for each new model</p>
            </div>
        </div>
    </div>
</div>

